infrastructrure
data
plop-templates
.vscode
**/node_modules
dist
**/.env
**/.env.local
**/.env.dev
**/.env.staging
**/.env.prod
**/.github
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git